/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-header {
    width: 100%; /* Full width */
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444;
    position: fixed; /* Fixed position to stay on top */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1000; /* Ensure it is on top of other elements */
}

.app-header .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.app-header .logo {
    height: 40px;
    margin-right: 0.5rem;
}

.app-header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    
}
