.leaderboard-container {
    background-color: #e8f1f8;
    border: 2px solid #627da5;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: -0px;
    height: 559px;
}

.leaderboard-container h2 {
    background-color: #627da5;
    color: #fff;
    text-align: center;
    padding: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -20px -20px 20px -20px;
}

.sort-controls {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.sort-controls button {
    background-color: #627da5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
    border: 1px solid #d3dbe3;
    padding: 12px;
    text-align: center;
}

.leaderboard-table th {
    background-color: #627da5;
    color: #fff;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #f0f7ff;
}

.leaderboard-table tr:hover {
    background-color: #d3e3f5;
    cursor: pointer;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    background-color: #627da5;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
}

.pagination button:hover:not([disabled]) {
    background-color: #415a77;
}

.pagination button:disabled {
    background-color: #b0bec5;
    cursor: not-allowed;
}

.pagination .active {
    background-color: #4CAF50;
    color: white;
}

.pagination button:focus {
    outline: none;
}
